html * {
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 1.3em;
  background: rgb(213,210,134); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(213,210,134,1) 0%, rgba(221,221,221,1) 50%, rgba(238,238,238,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(213,210,134,1)), color-stop(50%,rgba(221,221,221,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(213,210,134,1) 0%,rgba(221,221,221,1) 50%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(213,210,134,1) 0%,rgba(221,221,221,1) 50%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(213,210,134,1) 0%,rgba(221,221,221,1) 50%,rgba(238,238,238,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(213,210,134,1) 0%,rgba(221,221,221,1) 50%,rgba(238,238,238,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5d286', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

/*h2, h3, h4 {
    font-family: font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    margin: 1.85em 0 0.5em 0;
}*/

p {
    margin-bottom: 0.5em;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: #BAA154;
}

.highlight{
  color: #5465BA;
}

.masthead-heading,
.masthead-intro {
    text-align: center;
}

.masthead {
    padding: 6em 0;
    border-top: 0.75em solid #f4d36e;
    background-image: url("http://i.imgur.com/jBy0oof.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.masthead-intro {
    margin-bottom: -0.5em;
    font-size: 1.85em;
    color: #EEE;
    font-family: "Gentium Book Basic", serif;
    letter-spacing: -0.075ex;
    
}

.masthead-heading {
    margin-bottom: -0.2em;
    font-size: 6em;
    color: #FFF1C2;
    font-family: "Open sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
    text-shadow: 0 4px #E28B6C;
    letter-spacing: -0.03em;
    text-transform: uppercase;
<<<<<<< HEAD
}

.introduction-section,
.location-section,
.questions-section {
    max-width: 25em;
    margin: 2em auto 0;
}

.introduction>p,
.location>p,
.content-footer>p{
    font-weight: 300;
    letter-spacing: 0.05em;
}

.questions-section>h2{
  font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
}

.content-footer {
  background-color: #8C7E65;
  height: 12em;
  text-align: center;
  margin: 3em auto 0;
  color: #ccc;
  padding-top: 3em;
  font-size: 0.85em;
}

.content-footer ul li{
  list-style-type: none;
  display: inline-block;
  margin-right: 1em;
}

.content-footer ul li a {
 color: #f4d36e;
 font-size: 0.9em;
 font-weight: 700;
}

.copyright{
  font-size: 0.75em;
  font-weight: 100;
}
=======
}

.introduction-section,
.location-section,
.questions-section {
    max-width: 25em;
    margin: 2em auto 0;
}

.introduction>p,
.location>p,
.content-footer>p{
    font-weight: 300;
    letter-spacing: 0.05em;
}

.questions-section>h2{
  font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
}

.content-footer {
  background-color: #8C7E65;
  height: 12em;
  text-align: center;
  margin: 3em auto 0;
  color: #ccc;
  padding-top: 3em;
  font-size: 0.85em;
}

.content-footer ul li{
  list-style-type: none;
  display: inline-block;
  margin-right: 1em;
}

.content-footer ul li a {
 color: #f4d36e;
 font-size: 0.9em;
 font-weight: 700;
}

.copyright{
  font-size: 0.75em;
  font-weight: 100;
}
>>>>>>> 5a8bc68f2d7588a9193099dba1780c4c8b456184
